% rebase('base.html', izbrani_zavihek='proracun')
% from model import ZMAGA, PORAZ, REMI, NEODLOCENO

<h2 class="text-center mt-5">Statistika odigranih iger</h2>

<table class="table table-hover mt-5" style="width: 700px; margin: auto;">
    <thead>
        <tr>
            <th scope="col">Izid igre</th>
            <th scope="col">Število iger</th>
            <th scope="col">Odstotek</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Zmaga</th>
            <td>{{uporabnik.zgodovina.get(ZMAGA, 0)}}</td>
            <td>{{uporabnik.procenti().get(ZMAGA)}}</td>
        </tr>

        <tr>
            <th scope="row">Remi</th>
            <td>{{uporabnik.zgodovina.get(REMI, 0)}}</td>
            <td>{{uporabnik.procenti().get(REMI)}}</td>
        </tr>

        <tr>
            <th scope="row">Poraz</th>
            <td>{{uporabnik.zgodovina.get(PORAZ, 0)}}</td>
            <td>{{uporabnik.procenti().get(PORAZ)}}</td>
        </tr>

        <tr>
            <th scope="row">Skupaj</th>
            <td>
                {{uporabnik.zgodovina.get(PORAZ, 0) + uporabnik.zgodovina.get(REMI, 0) + uporabnik.zgodovina.get(ZMAGA,0)}}
            </td>
            <td>100.0%</td>
        </tr>
    </tbody>
</table>