%ZMAGA, PORAZ, REMI, NEODLOCENO = "W", "L", "D", "-"
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Igra štiri v vrsto</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
          <a class="navbar-brand" href="/">Štiri v vrsto</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                % if defined('uporabnik'):
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/analiza/">{{uporabnik}}</a>
                </li>
                % end
              </ul>
              <ul class="navbar-nav">
                  % if defined('uporabnik'):
                  <li class="nav-item">
                      <form action="/zacni_na_novo/" method="POST">
                          <button class="btn btn-primary me-3">Nova igra</button>
                      </form>
                  </li>
                  <li class="nav-item">
                      <form action="/odjava/" method="POST">
                          <button class="btn btn-primary me-3">Odjava</button>
                      </form>
                  </li>
                  % else:
                  <li class="nav-item">
                      <form action="/registracija/">
                          <button class="btn btn-primary me-3">Registracija</button>
                      </form>
                  </li>
                  <li class="nav-item">
                      <form action="/prijava/">
                          <button class="btn btn-primary me-3">Prijava</button>
                      </form>
                  </li>
                  % end
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Meni </a>
                      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="/">Domov</a></li>
                          <li><a class="dropdown-item" href="https://github.com/GalAntonGorse/Stiri-v-vrsto">Github</a></li>
                      </ul>
                  </li>
              </ul>
          </div>
      </div>
    </nav>

    <h3 class="text-center mt-5">{{uporabnik}} {{uporabnik.skupni_rezultat()["igralec"]}} : {{uporabnik.skupni_rezultat()["racunalnik"]}} Računalnik</h3>

    <table class="mt-5" style="margin: auto" cellspacing="0" cellpadding="0">
      <tr>
        <td id="p00">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[0][0] }}.jpg">
        </td>
        <td id="p01">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[0][1] }}.jpg">
        </td>
        <td id="p02">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[0][2] }}.jpg">
        </td>
        <td id="p03">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[0][3] }}.jpg">
        </td>
        <td id="p04">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[0][4] }}.jpg">
        </td>
        <td id="p05">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[0][5] }}.jpg">
        </td>
        <td id="p06">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[0][6] }}.jpg">
        </td>
      </tr>
      <tr>
        <td id="p10">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[1][0] }}.jpg">
        </td>
        <td id="p11">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[1][1] }}.jpg">
        </td>
        <td id="p12">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[1][2] }}.jpg">
        </td>
        <td id="p13">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[1][3] }}.jpg">
        </td>
        <td id="p14">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[1][4] }}.jpg">
        </td>
        <td id="p15">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[1][5] }}.jpg">
        </td>
        <td id="p16">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[1][6] }}.jpg">
        </td>
      </tr>
      <tr>
        <td id="p20">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[2][0] }}.jpg">
        </td>
        <td id="p21">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[2][1] }}.jpg">
        </td>
        <td id="p22">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[2][2] }}.jpg">
        </td>
        <td id="p23">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[2][3] }}.jpg">
        </td>
        <td id="p24">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[2][4] }}.jpg">
        </td>
        <td id="p25">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[2][5] }}.jpg">
        </td>
        <td id="p26">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[2][6] }}.jpg">
        </td>
      </tr>
      <tr>
        <td id="p30">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[3][0] }}.jpg">
        </td>
        <td id="p31">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[3][1] }}.jpg">
        </td>
        <td id="p32">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[3][2] }}.jpg">
        </td>
        <td id="p33">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[3][3] }}.jpg">
        </td>
        <td id="p34">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[3][4] }}.jpg">
        </td>
        <td id="p35">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[3][5] }}.jpg">
        </td>
        <td id="p36">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[3][6] }}.jpg">
        </td>
      </tr>
      <tr>
        <td id="p40">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[4][0] }}.jpg">
        </td>
        <td id="p41">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[4][1] }}.jpg">
        </td>
        <td id="p42">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[4][2] }}.jpg">
        </td>
        <td id="p43">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[4][3] }}.jpg">
        </td>
        <td id="p44">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[4][4] }}.jpg">
        </td>
        <td id="p45">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[4][5] }}.jpg">
        </td>
        <td id="p46">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[4][6] }}.jpg">
        </td>
      </tr>
      <tr>
        <td id="p50">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[5][0] }}.jpg">
        </td>
        <td id="p51">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[5][1] }}.jpg">
        </td>
        <td id="p52">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[5][2] }}.jpg">
        </td>
        <td id="p53">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[5][3] }}.jpg">
        </td>
        <td id="p54">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[5][4] }}.jpg">
        </td>
        <td id="p55">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[5][5] }}.jpg">
        </td>
        <td id="p56">
          <img style="display:block;" width="100%" height="100%" src="/img/{{ igra.plosca[5][6] }}.jpg">
        </td>
      </tr>
    </table> 
    
    % if igra.igralec == 1 and igra.stanje() == NEODLOCENO:
    <div class="d-flex mt-5 flex-column justify-content-center align-items-center">
      <form action="/naredi_potezo/" method="POST" style="width: 500px">
        <div class="input-group">
          <select class="form-select" name="stolpec" aria-label="Default select example" required>
            <option selected>Izberi stolpec za potezo</option>
            % if igra.prost_stolpec(0): 
            <option value="0">1</option>
            % end
            % if igra.prost_stolpec(1): 
            <option value="1">2</option>
            % end
            % if igra.prost_stolpec(2): 
            <option value="2">3</option>
            %end
            % if igra.prost_stolpec(3):
            <option value="3">4</option>
            % end
            % if igra.prost_stolpec(4):
            <option value="4">5</option>
            % end
            % if igra.prost_stolpec(5):
            <option value="5">6</option>
            % end
            % if igra.prost_stolpec(6):
            <option value="6">7</option>
            %end
          </select>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">Naredi</button>
          </span>
        </div> 
      </form>
    </div>

    % elif igra.igralec == 2 and igra.stanje() == NEODLOCENO:
    <div class="d-flex mt-5 flex-column justify-content-center align-items-center">
      <form action="/racunalnik/" method="POST" style="margin: auto; width: 500px">
        <button type="submit" class="btn btn-primary w-100" name="racunalnik">Računalnikova poteza</button>
      </form>
    </div>
    % elif igra.stanje() == REMI:
    <div class="d-flex mt-5 flex-column justify-content-center align-items-center">
      <form action="/zacni_na_novo/" method="POST">
        <span class="text-center me-3">Čestitam, remiziral si z računalnikom. Še ena igra?</span>
        <button type="submit" class="btn btn-primary">Nova igra</button>
      </form>
    </div>
    % elif igra.stanje() == PORAZ:
    <div class="d-flex mt-5 flex-column justify-content-center align-items-center">
      <form action="/zacni_na_novo/" method="POST">
        <span class="text-center me-3">Žal si izgubil proti računalniku. Še ena igra?</span>
        <button type="submit" class="btn btn-primary">Nova igra</button>
      </form>
    </div>
    % else:
    <div class="d-flex mt-5 flex-column justify-content-center align-items-center">
      <form action="/zacni_na_novo/" method="POST">
        <span class="text-center me-3">Čestitam, zmagal si proti računalniku! Še ena igra?</span>
        <button type="submit" class="btn btn-primary">Nova igra</button>
      </form>
    </div>
    % end
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>