% rebase('base.html', izbrani_zavihek='proracun')

    <h2 class="text-center mt-5">Nova igra</h2>
    <div class="d-flex mt-5 flex-column justify-content-center align-items-center">
      <form action="/nastavitev_igre/" method="POST" style="width: 500px">
        <div class="input-group">
            <select class="form-select" name="zacetni_igralec" aria-label="Default select example">
                <option selected>Izberi začetno potezo</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
            <select class="form-select" name="tezavnost" aria-label="Default select example">
                <option selected>Izberi težavnost</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">Igraj</button>
            </span>
        </div> 
            % if napaka:
                <span class="help-block">
                    <strong>{{ napaka }}</strong>
                </span>
            % end         
      </form>
    </div>




