<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Igra štiri v vrsto</title>
  </head>
  <body>
    <p class="h1">Igra proti računalniku</p>
    <table style="margin: 100px; margin-left: auto; margin-right: auto;" cellspacing="0" cellpadding="0">
      <tr>
        <td id="p00">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
        <td id="p01">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
        <td id="p02">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
        <td id="p03">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
        <td id="p04">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
        <td id="p05">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
        <td id="p06">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
      </tr>
      <tr>
        <td id="p10">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
        <td id="p11">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
        <td id="p12">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
        <td id="p13">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
        <td id="p14">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
        <td id="p15">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
        <td id="p16">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
      </tr>
      <tr>
        <td id="p20">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
        <td id="p21">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
        <td id="p22">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
        <td id="p23">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
        <td id="p24">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
        <td id="p25">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
        <td id="p26">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
      </tr>
      <tr>
        <td id="p30">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
        <td id="p31">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
        <td id="p32">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
        <td id="p33">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
        <td id="p34">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
        <td id="p35">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
        <td id="p36">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
      </tr>
      <tr>
        <td id="p40">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
        <td id="p41">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
        <td id="p42">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
        <td id="p43">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
        <td id="p44">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
        <td id="p45">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
        <td id="p46">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
      </tr>
      <tr>
        <td id="p50">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
        <td id="p51">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
        <td id="p52">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
        <td id="p53">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
        <td id="p54">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
        <td id="p55">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
        <td id="p56">
          <img style="display:block;" width="100%" height="100%" src="../img/0.jpg">
        </td>
      </tr>
    </table>  
    <p style="margin: auto; width: 500px" class="text-center font-weight-bold">
      Čestitam, zmagal si proti računalniku! Še ena igra?
    </p>

    <form action="/zacni_na_novo/" method="POST" style="margin: auto; width: 500px; margin-top: 10px">
      <button type="submit" class="btn btn-primary" style="width: 500px">Nova igra</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>