% rebase('base.html', izbrani_zavihek='proracun')

    <h2 class="text-center mt-5">Prijava</h2>
        
    <div class="d-flex mt-5 flex-column justify-content-center align-items-center">
        <form style="width: 500px" action="/prijava/" method="POST">
            <div class="form-group">
                <label for="upor_ime_prijava">Uporabniško ime</label>
                <input type="text" class="form-control" id="upor_ime_prijava" placeholder="Uporabniško ime" name="uporabnisko_ime">
                % if napaka:
                <span class="help-block">
                    <strong>{{ napaka }}</strong>
                </span>
                % end
            </div>
            <div class="form-group">
                <label for="geslo_prijava">Geslo</label>
                <input type="password" class="form-control" id="geslo_prijava" placeholder="Geslo" name="geslo">
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top: 10px">Naprej</button>
        </form>
    </div>
